<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add">
            <i class="fas fa-plus"></i> add
        </button>
    </div>

    <div class="card-body">
        <!-- Button trigger modal -->

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < category.length; i++){  %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= category[i].name %></td>
                        <td>
                            <form action="/admin/category/<%= category[i].id %>?_method=DELETE" method="POST">
                                <a href="javascript:void(0)" type="button" class="btn btn-warning btn-sm button-update"
                                    data-id="<%= category[i].id %>" data-name="<%= category[i].name %>"><i
                                        class="fas fa-edit"></i></a>
                                <a href="javascript:void(0)" type="button" class="btn btn-danger btn-sm button-delete"
                                    data-id="<%= category[i].id %>" data-name="<%= category[i].name %>"><i
                                        class="fas fa-trash"></i></a>
                            </form>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>