<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add">
            <i class="fas fa-plus"></i> add
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name Bank</th>
                        <th>Nomor Rekening</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < bank.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= bank[i].nameBank %></td>
                        <td><%= bank[i].nomorRekening %></td>
                        <td><%= bank[i].name %></td>
                        <td><img src="<%= process.env.PUBLIC_URL%>/<%= bank[i].imageUrl %>" alt="image" width="70px">
                        </td>
                        <td>
                            <a href="javascript:void(0)" type="button" class="btn btn-warning btn-sm button-update"
                                data-id="<%= bank[i].id %>" data-name="<%= bank[i].name %>"
                                data-namebank="<%= bank[i].nameBank %>"
                                data-nomorrekening="<%= bank[i].nomorRekening %>"><i class="fas fa-edit"></i></a>
                            <a href="javascript:void(0)" type="button" class="btn btn-danger btn-sm button-delete"
                                data-id="<%= bank[i].id %>" data-namebank="<%= bank[i].nameBank %>"><i
                                    class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>